{% extends "base.html" %}

{% block title %}Gallery{% endblock %}

{% block menu %}

<li><a href="/">Load image</a></li>
<li class="active"><a href="/gallery">Gallery</a></li>

{% endblock %}

{% block content %}

<div class="row">
    {% for image in images %}
    <div class="col-md-3">
        <a href="{{ image.get_absolute_url }}" class="thumbnail" rel="group" title="{{ image.title }}">
            <img height src="{{ image.get_absolute_url }}" alt="{{ image.title }}"  data-toggle="tooltip" data-placement="bottom" data-original-title="{{ image.dsc }}">
        </a>
    </div>
    {% empty %}
    <h1>No images in gallery.</h1>
    {% endfor %}
</div>

<!-- Add fancyBox -->
<link rel="stylesheet" href="{{ STATIC_URL }}fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->
<link rel="stylesheet" href="{{ STATIC_URL }}fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="{{ STATIC_URL }}fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
{% endblock %}
